.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#sidebar {
	position:fixed;
	left: 0;
	/*width: 400px;*/
	list-style-type: none;
}

#sidebar li:odd {
	background: gray;
}

#search-bar {
	position: absolute;
	top: 18px;
	right: 10px;
}

.title h1 {
	display: inline;
	text-align: left;
}